/******************************\
  SHAME
  ---

  This is the home for all the hacky, bodgy, terrible selectors and rules that
  shouldn't be used. Clean these up eventually, plz?!

\******************************/

/*
  .pull-left, .pull-right
  ---

  This is to allow setting a button to the right side of the layout. The better
  solution would be menu.controls with div.primary and div.secondary in the
  forms stylesheet.
*/
.pull-left,
.pull-right {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
