dialog {
  background: none;
  border: none;
  bottom: 0;
  color: $baseFontColor;
  display: block;
  //filter: blur(2px);
  left: 0;
  margin: auto;
  opacity: 0;
  padding: 25vw;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s;

  &::backdrop {
    background: $defaultColorFaded;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &[open] {
    opacity: 1;
  }
}
